.nav {
  background-color: #FF8945;
  border-radius: 10px;
  display: flex;
}

.link {
  padding: 10px 15px;
  color: #000000;
  overflow: hidden;

    &:hover {
      color: rgb(2, 55, 66)
    }
}

.active {
  background-color: #fff;
  border-radius: 10px;
}