.container {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.input {
  max-width: 400px;
  width: 100%;
  border-radius: 4px;
  padding: 4px 8px;
}

.button {
  border-radius: 4px;
  padding: 4px 8px;
  background-color: #FF8945;

    &:hover {
      color: rgb(2, 55, 66);
    }
}