.list {
  display: flex;
  column-gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.item {
  display: flex;
  flex-direction: column;
  max-width: 165px;
  min-height: 315px;
  padding: 5px;
}

.link {
  height: 100%;
  width: 100%;
  transition: all 0.2s ease;
  border-radius: 5px;
  overflow: hidden;

    &:hover {
        box-shadow: 0 3px 4px rgba(0, 0, 0, 0.666);
      }

    .img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}



.text {
  margin-top: 10px;
}