.list {
  display: flex;
  column-gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.item {
  display: flex;
  flex-direction: column;
  max-width: 165px;
  min-height: 315px;
  padding: 5px;
}

.link {
  height: 229.5px;
  width: 153px;
  transition: all 0.2s ease;
  border-radius: 5px;
  border: 1px solid #ff89458b;
  background-color: #322d2a;
  overflow: hidden;

    &:hover {
        box-shadow: 0 3px 4px rgba(0, 0, 0, 0.666);
        transform: scale(1.01);
      }

  .img {
      display: block;
      object-fit: cover;
      width: 100%;
      height: 100%;
      transition: all 0.2s ease;

        &:hover {
          width: 101%;
          width: 101%;
        }
    }
}




.text {
  margin-top: 10px;
}